<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	
	<title>RPHub - things</title>
	
	<!-- JavaScript -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/ejs_production.js"></script>

	<title>RPHub - things</title>
		
	<!-- JavaScript -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	
	<script src="/js/masonry.pkgd.min.js"></script>
	
	
	<!-- CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	
	<link href="/css/orig.css" rel="stylesheet">
	<link href="/css/dropdown.css" rel="stylesheet">
	
	

</head>

<body>
	<!-- header -->
	
		<%- include makeNavbar.ejs %>
		
	<!-- /header -->
	
	<div id="sidebar">
	
		<h3>First Last</h3>
		<ul>
			<li class="nav-item">
				<a href="#home" class="selected">
					<!-- <img class="icon" src="/images/x.png"> -->
					<span class="glyphicon glyphicon-home">
					</span>Home
				</a>
			</li>
			<li class="nav-item">
				<a href="#favs">
					<span class="glyphicon glyphicon-heart">
					</span>Favorites
				</a>
			</li>
			<li class="nav-item">
				<a href="#notifs">
					<span class="glyphicon glyphicon-asterisk">
					</span>Notifications
				</a>
			</li>
			
		</ul>

		<h3>Interests</h3>
		<ul>
			<li class="nav-item-fields">
				<a href="#electrical">
					<span class="glyphicon glyphicon-arrow-right">
					</span>Electrical Engineering
				</a>
			</li>
			<li class="nav-item-activity">
				<a href="#mechanical">
					<span class="glyphicon glyphicon-arrow-right">
					</span>Mechanical Engineering
				</a>
			</li>
			<li class="nav-item-yield">
				<a href="#other">
					<span class="glyphicon glyphicon-arrow-right">
					</span>Other
				</a>
			</li>
			<li class="nav-item">
				<a href="#addinterest" class="selected">
					<!-- <img class="icon" src="/images/x.png"> -->
					<span class="glyphicon glyphicon-plus">
					</span>Add
				</a>
			</li>
		</ul>
		
		<h3>Manage</h3>
		<ul class="">
			<li class="nav-item-equipment">
				<a href="#myrequests">
					<span class="glyphicon glyphicon-tag">
					</span>My Requests
				</a>
			</li>
			<li class="nav-item-settings">
				<a href="#settings">
					<span class="glyphicon glyphicon-cog">
					</span>Settings
				</a>
			</li>
			<li class="nav-item-equipment">
				<a href="#myrequests">
					<span class="glyphicon glyphicon-off">
					</span>Log Off
				</a>
			</li>

		</ul>
	</div>
	

	<div id="meat"> <!-- entire body -->
			
			<img class="img-responsive" src="logo.svg" alt="" style="border:none; margin:0 auto 0 auto"/>
			<!-- <div style="font-family: 'Indie Flower', cursive; font-size:140pt; text-align:center; line-height:70%;">RPHub</div> -->
			
			
			<a href="request.html" id="reqbtn" class="btn btn-success">Request Something</a>
			
			<div class="posts" id="listofPosts" data-columns> <!-- listofPosts -->
				
				<% for(var i=posts.length-1; i>=0; i--) {%>
				
				<div class="list-group-item collapse-group">
					<fieldset>
						<legend>
							<%=posts[i].title%>
							<small>- <%=posts[i].poster %> </small>
							
							<small style="float: right"> <%=posts[i].timeString %> </small>
						</legend>
						
						<p style="white-space: pre-line"> <%=posts[i].content%></p>
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
						
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >
							<br>
							Send a message to <b><%=posts[i].replyAddress%></b>
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>
							
							<br>
							
							<div class="form-actions">
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
								<button class="btn btn-default collapse-button">Collapse</button>
							</div>
						</form>
					
					</fieldset>
				</div>
				
				<% } %>
				
				<div class="list-group-item collapse-group">
					<fieldset>
						<legend>
							' + posts[i].title + '
							<small>- ' + posts[i].poster + '</small>
							
							<small style="float: right">' + posts[i].timeString + '</small>
						</legend>
						
						<p style="white-space: pre-line">' + posts[i].content + '</p>
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
						
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >
							<br>
							Send a message to <b>panser@rpi.edu</b>
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>
							
							<br>
							
							<div class="form-actions">
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
								<button class="btn btn-default collapse-button">Collapse</button>
							</div>
						</form>
					
					</fieldset>
				</div>
				
				<div class="list-group-item collapse-group">
					<fieldset>
						<legend>
							' + posts[i].title + '
							<small>- ' + posts[i].poster + '</small>
							
							<small style="float: right">' + posts[i].timeString + '</small>
						</legend>
						
						<p style="white-space: pre-line">' + posts[i].content + '</p>
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
						
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >
							<br>
							Send a message to <b>panser@rpi.edu</b>
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>
							
							<br>
							
							<div class="form-actions">
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
								<button class="btn btn-default collapse-button">Collapse</button>
							</div>
						</form>
					
					</fieldset>
				</div>
				
				<div class="list-group-item collapse-group">
					<fieldset>
						<legend>
							' + posts[i].title + '
							<small>- ' + posts[i].poster + '</small>
							
							<small style="float: right">' + posts[i].timeString + '</small>
						</legend>
						
						<p style="white-space: pre-line">' + posts[i].content + '</p>
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
						
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >
							<br>
							Send a message to <b>panser@rpi.edu</b>
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>
							
							<br>
							
							<div class="form-actions">
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
								<button class="btn btn-default collapse-button">Collapse</button>
							</div>
						</form>
					
					</fieldset>
				</div>
				
				
				<!-- database stuff goes here -->
				
			</div>
			
		<!-- footer -->
		<div class="container">
			<footer>
				<div class="row">
					RPHub © by Henry Choi and Ravi Panse. An <a href="http://rcos.rpi.edu/"> RCOS </a> Project.
				</div>
			</footer>
		</div>
		
		
	</div>	<!-- meat -->


	
	<script>
	$(document).ready(function(){
	
		$.get("posts",function(posts){
			posts = $.parseJSON(posts);
			var postHTML = ''
			for (var i =0; i< posts.length; i++){
				postHTML += //<br>\
				'\
				<div class="list-group-item collapse-group">\
					<fieldset>\
						<legend>\
							' + posts[i].title + '\
							<small>- ' + posts[i].poster + '</small>\
							\
							<small style="float: right">' + posts[i].timeString + '</small>\
						</legend>\
						\
						<p style="white-space: pre-line">' + posts[i].content + '</p>\
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>\
						\
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >\
							<br>\
							Send a message to <b>panser@rpi.edu</b>\
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>\
							\
							<br>\
							\
							<div class="form-actions">\
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>\
								<button class="btn btn-default collapse-button">Collapse</button>\
							</div>\
						</form>\
					\
					</fieldset>\
				</div>\
				';
			}
			//$("#listofPosts").append(postHTML);
			
			//collapse stuff
			$('.collapse-group').on('click', function(c) {
				c.preventDefault();
				var collapse = $(this).find('.collapse');
				collapse.show();
			});
			
			$('.collapse-button').on('click', function(e) {
				//alert('clicked');
				e.preventDefault();
				var collapse = $(this).closest('.collapse');
				console.log(collapse.html())
				collapse.hide();
				console.log(collapse.css("display"));
				e.stopPropagation();
			});

		});
		
	});
	
	</script>
	
	<script src="/js/msnry.js"></script>
	
	
</body>


</html>
