<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	
	<title>RPHub - things</title>
	
	<%- include imports.ejs %>	
	
	
</head>

<body>
	<!-- header -->
	<%- include makeNavbar.ejs %>
	
	<!-- sidebar-->
	<%- include makeSidebar.ejs %>
	
	
	
	<div id="meat"> <!-- entire body -->
		
		<img class="img-responsive" src="logo.svg" alt="" style="border:none; margin:0 auto 0 auto"/>
		
		
		<!-- <a href="request.html" id="reqbtn" class="btn btn-success" style="float: right">Request Something</a> -->
		
		<a href="/request" id="reqbtn" class="btn btn-success">Request Something</a>

		
		<div class="posts" id="listofPosts" data-columns> <!-- listofPosts -->
			
			
			<% for(var i=posts.length-1; i>=0; i--) {%>
			<div class="list-group-item collapse-group">
				<fieldset>
					<legend>
						<%=posts[i].title%>
						<small>- <%=posts[i].poster%> </small>
						
						<small style="float: right"> <%=posts[i].timeString%> </small>
					</legend>
					
					<p style="white-space: pre-line"> <%=posts[i].content%></p>
					<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
					
					<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >
						<br>
						Send a message to <b><%=posts[i].replyAddress%></b>
						<textarea class="input-xlarge" name="message" id="message" rows="5"></textarea>
						
						<br>
						
						<div class="form-actions">
							<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
							<button class="btn btn-default collapse-button">Collapse</button>
						</div>
					</form>
				
				</fieldset>
			</div>
			<% } %>
			
			
			<!-- database stuff goes here -->
			
		</div>
		
		<!-- footer -->
		<div>
			RPHub © by Henry Choi and Ravi Panse. An <a href="http://rcos.rpi.edu/"> RCOS </a> Project.
		</div>
		<!-- <footer></footer> -->
		
		
		
	</div>	<!-- meat -->


	
	<script>
	$(document).ready(function(){
		
		//collapse stuff
		$('.collapse-group').on('click', function(c) {
			c.preventDefault();
			var collapse = $(this).find('.collapse');
			collapse.show();
		});
		
		$('.collapse-button').on('click', function(e) {
			//alert('clicked');
			e.preventDefault();
			var collapse = $(this).closest('.collapse');
			console.log(collapse.html())
			collapse.hide();
			console.log(collapse.css("display"));
			e.stopPropagation();
		});
		
	});
	
	</script>
	
	<script src="/js/salvattore.js"></script>
	
	
</body>


</html>
