<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- JavaScript -->
	<!-- <script src="js/jquery-1.10.2.js"></script> -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	
	<!-- 
	<script> 
		$(function(){$("#sidebar").load("common-sidebartags.html");});
		$(function(){$("#header").load("common-header.html");});
		$(function(){$("#footer").load("common-footer.html");});
	</script> 
	 -->
	
	<title>RPHub</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.css" rel="stylesheet">

	<!-- Add custom CSS here -->
	<link href="/css/orig.css" rel="stylesheet">
	<link href="/css/dropdown.css" rel="stylesheet">

</head>

<body>
	
	<!-- header -->
	<!-- <script>
	$('#main').on('click',function(){
		alert('hi');
		$('.navbar-collapse').collapse('hide');
	})
	</script> -->
	<div id="navbar" role="navigation">
		<a href="/" id="title">
			RPHub
		</a>
		<ul id="menu">
			<script src="/makeNavbar.js">
			</script>
		</ul>
		
		<form style="float: left;">
			
			<div class="input-group">
				<input class="form-control" id="navsearch" name="search" placeholder="Search" type="text">
			</div>
			
		</form>
		
		<!-- <span style="float: right;" class="menu">First Last</span> -->
		
	</div>
	
	

	<!-- /header -->
	
	
	<div id="sidebar">
	
		<h3>First Last</h3>
		<ul>
			<li class="nav-item">
				<a href="#home" class="selected">
					<!-- <img class="icon" src="/images/x.png"> -->
					<span class="glyphicon glyphicon-home">
					</span>Home
				</a>
			</li>
			<li class="nav-item">
				<a href="#favs">
					<span class="glyphicon glyphicon-heart">
					</span>Favorites
				</a>
			</li>
			<li class="nav-item">
				<a href="#notifs">
					<span class="glyphicon glyphicon-asterisk">
					</span>Notifications
				</a>
			</li>
			
		</ul>

		<h3>Interests</h3>
		<ul>
			<li class="nav-item-fields">
				<a href="#electrical">
					<span class="glyphicon glyphicon-arrow-right">
					</span>Electrical Engineering
				</a>
			</li>
			<li class="nav-item-activity">
				<a href="#mechanical">
					<span class="glyphicon glyphicon-arrow-right">
					</span>Mechanical Engineering
				</a>
			</li>
			<li class="nav-item-yield">
				<a href="#other">
					<span class="glyphicon glyphicon-arrow-right">
					</span>Other
				</a>
			</li>
			<li class="nav-item">
				<a href="#addinterest" class="selected">
					<!-- <img class="icon" src="/images/x.png"> -->
					<span class="glyphicon glyphicon-plus">
					</span>Add
				</a>
			</li>
		</ul>
		
		<h3>Manage</h3>
		<ul class="">
			<li class="nav-item-equipment">
				<a href="#myrequests">
					<span class="glyphicon glyphicon-tag">
					</span>My Requests
				</a>
			</li>
			<li class="nav-item-settings">
				<a href="#settings">
					<span class="glyphicon glyphicon-cog">
					</span>Settings
				</a>
			</li>
			<li class="nav-item-equipment">
				<a href="#myrequests">
					<span class="glyphicon glyphicon-off">
					</span>Log Off
				</a>
			</li>

		</ul>
	</div>
	
	<div id="meat"> <!-- entire body -->
		
		<br>
		
		<div class="" id="interest-heading">
			<p class="h1" style="font-size: 60px; text-align: center"> <%= interest.name %> </p>
			
			<span >
				<a href="#mech" class="btn btn-default"> Mechanical </a>
				<a href="#aero" class="btn btn-default"> Aerospace </a>
				<a href="#nuke" class="btn btn-default"> Nuclear </a>
				<a href="#biot" class="btn btn-default"> Biotech </a>
				<a href="#interests" class="btn btn-default"> See more &raquo </a>
			</span>
			
		</div>
		
		
		<ul class="posts">
			
			<!-- <div class="text-right">
				<a class="btn btn-success">Request Something</a>
			</div> -->
			<!--
			<li class="list-group-item collapse-group">
				<fieldset>
					
					<legend>
						<span class="glyphicon glyphicon-remove" style="color: grey"></span>
						Title
						<small>- Poster</small>
						<small style="float: right">Date</small>
					</legend>
					
					<label class="control-label" for="subject">not done yet--I have a request about something</label>
					<p>This is what i need content content content content  lorem ipsum shi</p>
					<div style="text-align:center"> <button class="btn btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
					
					<div class="collapse">
						<br>
						Send a message to <a href="mailto:professor@rpi.edu?Subject=NAMEOFPROJECT">professor@rpi.edu</a>:
						<br>
						<textarea class="input-xlarge" name="message" id="message" rows="5" ></textarea>
						
						<br>
						
						<div class="form-actions">
							<button type="submit" class="btn btn-primary btn-large">Submit</button>
							<button class="btn btn-default collapse-button">Collapse</button>
						</div>
					</div>
				
				</fieldset>
			</li>
			-->
			<% for(var i=posts.length-1; i>=0; i--) {%>
			<br>
				<li class="list-group-item collapse-group">
					<fieldset>
						<legend>
							<%= posts[i].title %>
							<small>- <%=posts[i].poster %> </small>
							
							<small style="float: right"> <%=posts[i].timeString %></small>
						</legend>
						
						<p style="white-space: pre-line"><%=posts[i].content %></p>
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>
						
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >
							<br>
							Send a message to <b><%=posts[i].replyAddress %></b>
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>
							
							<br>
							
							<div class="form-actions">
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>
								<button class="btn btn-default collapse-button">Collapse</button>
							</div>
						</form>
					
					</fieldset>
				</li>
			<% } %>
		</ul>
		
		<script>
	$(document).ready(function(){
		/*
		$.get("/posts",function(posts){
			posts = $.parseJSON(posts);
			var postHTML = ''
			for (var i =0; i< posts.length; i++){
				postHTML +=
				'\
				<br>\
				<li class="list-group-item collapse-group">\
					<fieldset>\
						<legend>\
							' + posts[i].title + '\
							<small>- ' + posts[i].poster + '</small>\
							\
							<small style="float: right">' + posts[i].timeString + '</small>\
						</legend>\
						\
						<p style="white-space: pre-line">' + posts[i].content + '</p>\
						<div style="text-align:center"> <button class="btn btn-default btn-teal btn-respond" align="center"> Respond <span class="caret"></span> </button> </div>\
						\
						<form class="collapse" action="mailto:panser@rpi.edu" method="post" enctype="text/plain" >\
							<br>\
							Send a message to <b>panser@rpi.edu</b>\
							<textarea class="input-xlarge" name="message" id="message" rows="5" style="min-width: 612px"></textarea>\
							\
							<br>\
							\
							<div class="form-actions">\
								<button type="submit" name="submit" value="Submit" class="btn btn-primary btn-large">Submit</button>\
								<button class="btn btn-default collapse-button">Collapse</button>\
							</div>\
						</form>\
					\
					</fieldset>\
				</li>\
				';
				//console.log(JSON.stringify(posts));
			}
			$(".posts").append(postHTML);
			
			//collapse stuff
			$('.collapse-group').on('click', function(c) {
				c.preventDefault();
				var collapse = $(this).find('.collapse');
				collapse.show();
			});
			
			$('.collapse-button').on('click', function(e) {
				//alert('clicked');
				e.preventDefault();
				var collapse = $(this).closest('.collapse');
				console.log(collapse.html())
				collapse.hide();
				console.log(collapse.css("display"));
				e.stopPropagation();
			});
			
		});*/

	});
	
	</script>
	
		
		<!-- footer -->
		<div class="container">
			<footer>
				<div class="row">
					<div class="col-lg-12">
						RPHub © by Henry Choi and Ravi Panse. An <a href="http://rcos.rpi.edu/"> RCOS </a> Project.
					</div>
				</div>
			</footer>
		</div>
		<!-- /footer -->

	</div> <!-- /meat -->
	
	
	
</body>

</html>
